<section class="modal">
		<div class="modal__content">
		<div class="modal__body">
			<form action="#" method="" class="modal__form">
					<div class="modal__btn modal__btn--close js-modal-close"><span class="fa fa-remove"></span></div>
					<div class="modal__message"></div>
				<select class="modal__select">
					<option value="Monday">Monday</option>
					<option value="Tuesday">Tuesday</option>
					<option value="Wednesday">Wednesday</option>
					<option value="Thursday">Thursday</option>
					<option value="Friday">Friday</option>
					<option value="Saturday">Saturday</option>
					<option value="Sunday">Sunday</option>
				 </select>
				<input class="modal__input modal__input--time" type="text" placeholder="Enter the time">
				<input class="modal__input modal__input--class" type="text" placeholder="Enter the name of class">
				<input class="modal__input modal__input--coach" type="text" placeholder="Enter the name of the coach">
				<div class="modal__buttons-group">
					<a href="#" class="modal__btn js-modal-cancel">CANCEL</a>
					<a href="#" class="modal__btn js-modal-ok" >OK</a>
				</div>
			</form>
		</div>
		</div>
</section>