<section class="section">
	<div class="container">
		<h1 class="section__title">Shedule</h1>
		<p class="section__subtitle">Apart from working on effective products for businesses, our specialists organize educational programs for business owners and managers.
		</p>
		<article class="section__calendar calendar">
			<div class="calendar__head"> 
				<div class="calendar__title">Date</div>
				<div class="calendar__title">Time</div>
				<div class="calendar__title">Class</div>
				<div class="calendar__title">Coach</div>
			</div>

			<div class="calendar__day">
				<div class="calendar__subtitle js-acc active">Monday</div>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Luccile Wright</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Luccile Wright</div>
					</div>
				</div>
			</div>
			<div class="calendar__day">
				<div class="calendar__subtitle js-acc">Tuesday</div>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">9:00 pm - 10:00 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Vernon Carlson</div>
					</div>
				</div>
			</div>
			<div class="calendar__day">
				<div class="calendar__subtitle js-acc">Wednesday</div>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
				</div>
			</div>
			<div class="calendar__day">
				<div class="calendar__subtitle js-acc">Thursday</div>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Meeting with CEO</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
				</div>
			</div>
			<div class="calendar__day">
				<div class="calendar__subtitle js-acc">Friday</div>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">9:00 pm - 10:00 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Vernon Carlson</div>
					</div>
				</div>
			</div>
			<div class="calendar__day">
				<div class="calendar__subtitle js-acc">Saturday</div>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">9:00 pm - 10:00 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Vernon Carlson</div>
					</div>
				</div>
			</div>
			<div class="calendar__day">
				<div class="calendar__subtitle js-acc">Sunday</div>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
				</div>
			</div>
		</article>
		<div class="section__buttons"> 
			<a class="section__btn section__btn--secondary" href="#">Download a schedule</a>
			<a class="section__btn section__btn--primary" href="#">Book a class</a>
		</div>
	</div>
</section>