<section class="section section-state-0">
	<div class="container">
		<h1 class="section__title">Shedule</h1>
		<p class="section__subtitle">Apart from working on effective products for businesses, our specialists organize educational programs for business owners and managers.
		</p>
		<article class="section__calendar calendar">
			<header class="calendar__head"> 
				<h2 class="calendar__title">Date</h2>
				<h2 class="calendar__title">Time</h2>
				<h2 class="calendar__title">Class</h2>
				<h2 class="calendar__title">Coach</h2>
			</header>

			<section class="calendar__day">
				<h3 class="calendar__subtitle js-acc active">Monday</h3>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Luccile Wright</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Luccile Wright</div>
					</div>
				</div>
			</section>
			<section class="calendar__day">
				<h3 class="calendar__subtitle js-acc">Tuesday</h3>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">9:00 pm - 10:00 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Vernon Carlson</div>
					</div>
				</div>
			</section>
			<section class="calendar__day">
				<h3 class="calendar__subtitle js-acc">Wednesday</h3>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
				</div>
			</section>
			<section class="calendar__day">
				<h3 class="calendar__subtitle js-acc">Thursday</h3>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Meeting with CEO</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
				</div>
			</section>
			<section class="calendar__day">
				<h3 class="calendar__subtitle js-acc">Friday</h3>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">9:00 pm - 10:00 pm</div>
						<div class="calendar__subitem">Q&A</div>
						<div class="calendar__subitem">Vernon Carlson</div>
					</div>
				</div>
			</section>
			<section class="calendar__day">
				<h3 class="calendar__subtitle js-acc">Saturday</h3>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">7:45 pm - 8:45 pm</div>
						<div class="calendar__subitem">Workshop</div>
						<div class="calendar__subitem">Ada Elliott</div>
					</div>
					<div class="calendar__item">
						<div class="calendar__subitem">9:00 pm - 10:00 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Vernon Carlson</div>
					</div>
				</div>
			</section>
			<section class="calendar__day">
				<h3 class="calendar__subtitle js-acc">Sunday</h3>
				<div class="calendar__day-group">
					<div class="calendar__item">
						<div class="calendar__subitem">6:30 pm - 7:30 pm</div>
						<div class="calendar__subitem">Seminar</div>
						<div class="calendar__subitem">Keith Conner</div>
					</div>
				</div>
			</section>
		</article>
		<div class="section__buttons"> 
			<a class="section__btn section__btn--secondary" aria-label="button-download" href="#">Download a schedule</a>
			<a class="section__btn section__btn--primary" aria-label="button-book-a-class" href="#">Book a class</a>
		</div>
	</div>
</section>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

