<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <script src="https://use.fontawesome.com/80a5562013.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <title>Shedule Template</title>
    </head>
    <body>
        {% include "parts/_state-0.html" %}
        {% include "parts/_state-0-1.html" %}
        {% include "parts/_state-1.html" %}
        {% include "parts/_state-2.html" %}
        {% include "parts/_state-3.html" %}
        {% include "parts/_state-4.html" %}
        {% include "parts/_state-5.html" %}
        {% include "parts/_state-6.html" %}
        {% include "parts/_modal.html" %}
       
        <script src="script/script.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </body>
</html>